@layer tailwind {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

:root {
  font-weight: 400;
  font-family: 'Helvetica', 'Arial', sans-serif;

  --accent-color: #e50815;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.clear-button {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.popover-dropdown {
  z-index: 9999;
  position: relative; /* or absolute if needed */
}
